<?xml version='1.0'?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find round_robot)/worlds/new_world.world"/>
    <!-- more default parameters can be changed here -->
  </include>

<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find arn_hw_1)/urdf/round_robot.urdf -urdf -model round_robot"/>
</launch>



